#carouselExampleCaptions, .carousel, .slide {
  height: 100%;
}

.carousel-inner {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

.carousel-caption {
  position: relative;
  margin-top: 20px;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: blue;
        color: white;
        padding: 10px;
        text-align: center;
}

.carousel-item {
  margin-top: 5vh;
  margin-bottom: 15vh;
}

button.carousel-control-next, button.carousel-control-prev {
  background-color: blue;
}

.carousel-media {
  max-height: 80vh;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

section {
  border: 4px solid blue;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 850px;
}  

header, footer {
  background-image: url('images/flag_mini.png');
  background-repeat:repeat;
  height: 60px;
}

h1,h2 {
  text-align: center;
  color: blue;
}

body {
  font-family: roboto;
}


video {
  border: 8px blue dashed;
}

/* Réorganiser les éléments pour les petits écrans */
@media screen and (max-width: 768px) 
  {
    /* Exemple de réorganisation de la mise en page */
    .sidebar 
      {
        display: none;
      }
    
    .main-content 
      {
        width: 100%;
      }
  }

/* Optimiser la taille des polices pour les petits écrans */
@media screen and (max-width: 480px) 
  {
    /* Exemple de modification de la taille de police */
    h1 
      {
        font-size: 24px;
      }
    
    p 
      {
        font-size: 14px;
      }
  }

/* Augmenter la taille des boutons pour les écrans tactiles */
.button 
  {
    padding: 10px 20px;
    font-size: 16px;
  }

/* Optimiser l'affichage des images pour les petits écrans */
img 
  {
    max-width: 100%;
    height: auto;
  }

/* Masquer les éléments superflus pour les petits écrans */
.unnecessary-element 
  {
    display: none;
  }